
// color
    // > main
    $main-color1: #786fa6;
    $main-color2: #6254a8;
    // > text
    $text-color1: #786fa6;
    $text-color2: rgba(0, 0, 0, 0.88);
    // > button
    $button-color1: #786fa6;