.wrapper {
}

.line {
    height: 52px;
    background-color: purple;
}

.header {
    display: flex;
    height: 52px;
}

.logo {
}

.navigation {
    display: flex;
    .button {
        display: flex;
    }
}

.authen {
    display: flex;
    .button {
        display: flex;
    }
}
